<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aid Provider Assistance</title>
</head>
<body>
    <div id="form-container">
        <h2>Add Roadblock</h2>
        <form method="POST" action="/add_roadblock">
            <br>
            <label for="desc">Description:</label>
            <input type="text" name="desc" id="desc" required>
            <br>

            <br>
            <label for="lat">Latitude:</label>
            <input type="text" name="lat" id="lat" required>
            <label for="lon">Longitude:</label>
            <input type="text" name="lon" id="lon" required>
            <br>

            <button type="submit">Add Roadblock</button>
        </form>

        <div id="map">
        {% if map_html %}
            {{ map_html | safe }}
        {% endif %}
    </div>
    </div>
</body>
</html>
